.places {
    display: flex;
    flex-direction: column;
    margin: 0 48px 92px;
    row-gap: 80px;
    padding: 0;
}

@media screen and (max-width: 935px) {
    .places {
        margin: 0 24px 90px;
    }
}

@media screen and (max-width: 877px) {
    .places {
        margin: 0 24px 90px;
        row-gap: 73px;
    }
}

@media screen and (max-width: 500px) {
    .places {
        margin: 0 0 50px;
        row-gap: 50px;
    }
}