.intro {
    max-width: 690px;
    margin: 0 auto 92px 48px;
    padding: 0;
}

@media screen and (max-width: 935px) {
    .intro {
        margin: 0 24px 88px;
    }
}

@media screen and (max-width: 370px) {
    .intro {
        margin: 0 16px 64px;
    }
}