.cover__overlay {
    background-image: url("../../../images/cover-trains.jpg");
    width: 100%;
    min-height: 740px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.cover__overlay::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #2A2C2F;
    opacity: 0.3;
    z-index: -1;
    transition: opacity .3s;
}

.cover__overlay:hover::before {
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
    .cover__overlay {
        min-height: 640px;
    }
}

@media screen and (max-width: 935px) {
    .cover__overlay {
        min-height: 480px;
    }
}

@media screen and (max-width: 370px) {
    .cover__overlay {
        min-height: 200px;
    }
}
