.cover__title {
    text-decoration: none;
    color: white;
    font-size: 72px;
    line-height: 76px;
    font-family: "Inter", serif;
    font-weight: 900;
    text-align: center;
    max-width: 560px;
    margin-bottom: 32px;
    -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 720px) {
    .cover__title {
        font-size: 11vw;
        line-height: 1.2;
    }
}

@media screen and (max-width: 320px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
    }
}