.places__url-heading {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    text-align: left;
    color: #AAA;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    margin: 0 0 12px;
    padding: 0;
    text-transform: uppercase;
}